name: Build Expo APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'npm'

    - name: Install dependencies
      run: npm install
      working-directory: ./FoodVenturer-Expo

    - name: Install Expo CLI
      run: npm install -g expo-cli

    - name: Login to Expo
      run: expo login -u ${{ secrets.EXPO_USERNAME }} -p ${{ secrets.EXPO_PASSWORD }}
      working-directory: ./FoodVenturer-Expo

    - name: Build APK
      run: expo build:android -t apk
      working-directory: ./FoodVenturer-Expo

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: ./FoodVenturer-Expo/*.apk