name: Build Expo APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'npm'

    - name: Install dependencies
      run: npm install
      working-directory: .

    - name: Verify React Native Installation
      run: npm list react-native || npm install react-native
      working-directory: .

    - name: Install Expo CLI
      run: npm install -g expo-cli

    - name: Clear Existing Expo Login
      run: expo logout
      working-directory: ./FoodVenturer-Expo
      continue-on-error: true

    - name: Build APK
      env:
        EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
      run: expo build:android -t apk
      working-directory: .

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: ./FoodVenturer-Expo/*.apk